.firstRowHeaderOne{
    padding-left: 20rem;
}

.firstRowHeaderTwo{
    flex: auto;
    text-align: right;
    font-size: 12px;
    padding-right: 20rem;
}

.secondRowHeader{
    flex: auto;
    text-align: center;
}