<app-choose-type (msgEvent)="getMsgFromChild($event)"></app-choose-type>
<div class="container">
  <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="230px">
    <div fxLayout="column">
      From
    </div>
    <div fxLayout="column">
      To
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="52px">
    <div fxLayout="column" class="item" [formGroup]="form">
      <input
        formControlName="fromValue"
        type="text"
        (keyup)="calculate('fromValue','toValue',from,to)"
      />
    </div>
    <div fxLayout="column" class="item" [formGroup]="form">
      <input
        formControlName="toValue"
        type="text"
        (keyup)="calculate('toValue','fromValue',to,from)"
      />
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="52px">
    <mat-form-field class="optionbox">
      <mat-select
        [(value)]="from"
        [(ngModel)]="from"
        (selectionChange)="calculate('fromValue','toValue',from,to)"
      >
        <mat-option></mat-option>
        <mat-option
          [value]="option"
          *ngFor="let option of subUnits"
          [disabled]="to == option"
          >{{ option }}</mat-option
        >
      </mat-select>
    </mat-form-field>
    <mat-form-field class="optionbox">
      <mat-select
        [(value)]="to"
        [(ngModel)]="to"
        (selectionChange)="calculate('fromValue','toValue',from,to)"
      >
        <mat-option></mat-option>
        <mat-option
          [value]="option"
          *ngFor="let option of subUnits"
          [disabled]="from == option"
          >{{ option }}</mat-option
        >
      </mat-select>
    </mat-form-field>
  </div>
</div>
