.container {
  padding-top: 1em;
}

.item {
  border: 1px solid lavenderblush;
  border-radius: 8px;
  width: 170px;
  height: 40px;
  background: white;
}

.optionbox {
    border: 1px solid lavenderblush;
    border-radius: 8px;
    width: 170px;
    height: 40px;
    background: white;
  }