<div class="main">
  <div class="container">
    <div fxLayout="row" fxLayoutAlign="center start">
      CHOOSE TYPE
    </div>
    <div
      class="chooseItem"
      fxLayout="row"
      fxLayoutAlign="center center"
      fxLayoutGap="20px"
    >
      <div
        class="item length"
        fxLayout="column"
        fxLayoutAlign="center center"
        [ngClass]="{'selectedLength': choseLength}"
        (click)="sendLength()"
      >
        <img src="../../../assets/images/scaleBlack.svg" alt="length" />
        <span fxFlexOffset="15" class="text">Length</span>
      </div>
      <div
        class="item temp"
        fxLayout="column"
        fxLayoutAlign="center center"
        [ngClass]="{'selectedTemp': choseTemp}"
        (click)="sendTemp()"
      >
        <img src="../../../assets/images/hotBlack.svg" alt="temp" />
        <span fxFlexOffset="15" class="text">Temperature</span>
      </div>
      <div
        class="item volume"
        fxLayout="column"
        fxLayoutAlign="center center"
        [ngClass]="{'selectedVolume': choseVolume}"
        (click)="sendVolume()"
      >
        <img src="../../../assets/images/beakerBlack.svg" />
        <span fxFlexOffset="15" class="text">Volume</span>
      </div>
    </div>
  </div>
</div>
